@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;
@define-color blue #87ceeb;
@define-color bg-charging #6a9955;
@define-color bg-critical #ff5555;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    padding-left: 5px;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces {
    padding: 0px;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

window#waybar {
    color: @color-default;
    transition: background-color 0.5s;
}

#battery.full,
#battery.plugged {
    color: @bg-charging;
}

#custom-power {
    padding-right: 2px;
}